@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<CoreAndFood.DATA.Models.Food>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Food Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.FoodID</th>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/Food/DeleteFood/@item.FoodID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Food/FoodGet/@item.FoodID" class="btn btn-warning">Update</a></td>
            <td><a href="" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }))
<a href="/Food/AddFood/" class="btn btn-primary">New Food</a>
